body {
  background-color: #1e3d59;
}

.container {
  color: #f5f0e1;
}

.login-form {
  background-color: #f5f0e1;
  min-width: fit-content;
  min-height: fit-content;
  align-self: center;
  box-sizing: border-box;
  box-shadow: 3px 6px 40px #000;
  border-radius: 1.5rem;
}

.login-header {
  text-align: center;
  color: #1e3d59;
}

.username {
  outline: none;
  width: 260px;
  padding: 15px;
  font-size: 20px;
  background-color: #fffefe;
  border: 1px solid #000;
  border-radius: 10px;
}

.password {
  outline: none;
  width: 260px;
  padding: 15px;
  font-size: 20px;
  background-color: #fffefe;
  border: 1px solid #000;
  border-radius: 10px;
}

.button-signup {
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f5f0e1;
  cursor: pointer;
}

.button-login {
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #ff6e40;
  cursor: pointer;
}
