body {
  background-color: #1e3d59;
}

.login-form {
  background-color: #f5f0e1;
  min-width: fit-content;
  min-height: fit-content;
  align-self: center;
  box-sizing: border-box;
  box-shadow: 3px 6px 40px #000;
  border-radius: 1.5rem;
}

.login-header {
  text-align: center;
  color: #1e3d59;
}

.button-login {
  width: 100%;
}

.msg {
  color: black;
}
